.name{
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
color: brown;
}
.add{
  text-align: right;
  color: rgb(108, 62, 62);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.photo{
  height: 550px;
  width:550px;
  padding-left: 400px;
}